<h1>Steam Search</h1>


<form class="text" action="/pcgames/search" method="get">
  <input type="text" name="q[name_cont]" id="q_name_cont" placeholder="Steam" required>
  <button type="submit" name="commit" value="検索" data-disable-with="検索">Enter</button>
</form>

<p><%= link_to "ゲーム共有作成", new_gamelist_path, class: 'btn btn-primary', data: {"turbolinks" => false} %></p>
