<footer id='footer'>
  <div class="container">
    <div class="row" translate="no">
      <div class="col-sm-5 col-10">
        <div class="copyright">
          <p class="text-white">利用規約</p>
          <p class="text-white">プライバシーポリシー</p>
        </div>
      </div>
    </div>
  </div>
</footer>
