<div class="home-wrapper">
  <div class="home-inner-text">
    <h4 class="find">Find</h4>
    <h4 class="out">Out</h4>
    <h4 class="game">Game</h4>
    <p1>新しゲームを探したい</p1>
    <p2>他の人がどんなゲームに興味があるのか知りたい</p2>
    <p3>そんな方に</p3>
    <button type="button"><%= link_to "始める", new_gamelist_path %></button>
    <p4>
      <span class="mgr-10"><%= link_to "PSゲーム検索", search_games_path %></span>
      <span class="mgr-10"><%= link_to "Switchゲーム検索", search_games_path %></span>
      <%= link_to "Steamゲーム検索", search_games_path %>
    </p4>
  </div>
</div>
