<% content_for(:title, @gamelist.title) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <%= render 'form', { gamelist: @gamelist } %>
    </div>
  </div>
</div>
