<% @results.each do |item| %>
  <tr>
    <br>
    <td><img src="<%= item['mediumImageUrl'] %>"></td>
    <td><a href="<%= item['itemUrl'] %>" target="_blank"><%= item['title'] %></a></td>
    <td><%= item['itemPrice'] %>円</td>
  </tr>
<% end %>
