<% @results.each do |item| %>
  <div class="parent_box">
    <figure class="side_image"><img src="<%= item['largeImageUrl'] %>"></figure>
    <a class="side_text" href="<%= item['itemUrl'] %>" target="_blank"><%= item['title'] %></a>
    <br>
  </div>
<% end %>
