<% @results.each do |item| %>
    <tr>
      <br>
      <td><p style="text-align:center"><img src="<%= item['mediumImageUrl'] %>"></p></td>
      <td><p style="text-align:center"><a class="text-white" href="<%= item['itemUrl'] %>" target="_blank"><%= item['title'] %></a></p></td>
      <td><p id="js-copytext" style="text-align:center" class="text-white"><%= item['itemUrl'] %></p></td>
    </tr>
<% end %>
