<h1>PlayStation Search</h1>

<form class="text" action="/search_games" method="get">
  <input type="text" name="ps4" id="ps4" placeholder="PS4" required>
  <button type="submit" name="commit" value="PS4ゲーム名を検索">Enter</button>
</form>

<form class="text" action="/search_games" method="get">
  <input type="text" name="ps5" id="ps5" placeholder="PS5" required>
  <button type="submit" name="commit" value="PS5ゲーム名を検索">Enter</button>
</form>

<p><%= link_to "ゲーム共有作成", new_gamelist_path %></p>


<% if @results.present? %>
  <%= render 'search_games/game' %>
<% end %>
